RewriteEngine On

# NOTE: force https and force www are handled in Apache config

# Set CORS header
Header set Access-Control-Allow-Origin "*"

# Exclude folders docs/swagger/routes - these need to be passed without changes
RewriteRule ^docs(/.*)?$ - [L]
RewriteRule ^swagger(.*)?$ - [L]
RewriteRule ^routes\.php$ - [L]

# These are scripts that are accessible from the web, and also need to be passed without changes
RewriteRule ^bloggability\.php$ - [L]
RewriteRule ^phpinfo\.php$ - [L]

# Block access to sensitive folders: database, /vendor, /keys as well as bloggable.json
RewriteRule ^database(/.*)?$ - [F,L]
RewriteRule ^vendor(/.*)?$ - [F,L]
RewriteRule ^keys(/.*)?$ - [F,L]

# Block access to sensitive JSON files
RewriteRule ^bloggability\.json$ - [F,L]
RewriteRule ^bloggability-DB2\.json$ - [F,L]
RewriteRule ^bloggability-MySQL\.json$ - [F,L]
RewriteRule ^bloggability-SQLite\.json$ - [F,L]

# Block access to internal scripts
# NOTE: These scripts are set to not return anything unless run from cmd-line anyway
RewriteRule ^action\.php$ - [F,L]
RewriteRule ^addkey\.php$ - [F,L]
RewriteRule ^notifykey\.php$ - [F,L]
RewriteRule ^setpasswd\.php$ - [F,L]
RewriteRule ^swagger\.php$ - [F,L]
RewriteRule ^switchdb\.sh$ - [F,L]
RewriteRule ^token\.php$ - [F,L]

# Rewrite /rss for routes.php -> bloggability.php
RewriteRule ^rss-([a-zA-Z0-9]+)\.xml$ routes.php?path=rss&weblog=$1 [QSA,L]

# Rewrite /api for routes.php -> bloggablity.php
RewriteRule ^api/(.*)$ routes.php?path=$1 [QSA,L]

# Pass through front-end app requests
RewriteCond %{REQUEST_URI} !^/index\.html$
RewriteCond %{REQUEST_URI} !^/routes\.php$
RewriteCond %{REQUEST_URI} !^/bloggability\.php$
RewriteCond %{REQUEST_URI} !^/phpinfo\.php$
RewriteCond %{REQUEST_URI} !^/connect\.php$
RewriteCond %{REQUEST_URI} !^/swagger\.json$
RewriteRule ^(.*)$ /index.html [L]
